body{
    margin:0;
    font-family: 'Karla', sans-serif;
font-family: 'Work Sans', sans-serif;
}
/* page 1 */
.page1{
    height: 100vh;
    padding: 0;
    margin: 0;
}
.page1 header{
    height: 30px;
    padding:20px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
.page1 header img{
    width:50px;
}
.page1 .l{
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;   

}
.page1 .l p{
    width:30px;
    height:3px;
    background-color: black;
    margin: 3px;
    padding: 0;
    /* display: inline-block; */
}
.page1 .two{
    width: 15px;
}
.page1 .two:hover{
    width: 30px;
}
.page1 .main{
    background-image: url("css/landing.jpg");
    background-size: cover;
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.page1 .main p{
    font-size: 50px;
    font-weight: bold;
    color: #10cab7;
    margin: 0;
}
.page1 .main span{
    line-height: 2;
    text-align: center;
    width: 350px;
    font-size: 20px;
    color: black;
}
/* 
*/
/* page 2 */
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.page2{
    background-color: #EEE;
    padding-top:60px;
    padding-bottom: 60px;
}
.page2 .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}
.page2 .feat{
    padding: 20px;
    text-align: center;

}
.page2 .feat i{
    font-size: 60px;
    color: #10cab7;
}
.page2 .feat h3{
    margin:30px 0;
    font-weight: 800;    
}
.page2 .feat p{
    line-height: 1.8;
    font-size: 17px;
    color: #a1a1a1;
}

/* 
 */
/* page 3 */
.page3{
    padding: 60px;
    text-align: center;
}
.page3 h1{
    text-align: center;
    margin: 0;
    color: #ebeced;
    font-size: 100px;
    font-weight: 800;
    letter-spacing: -3px;
}
.page3 h1+p{
    margin-top: -30px 0 0;
    color: #6d6c6c;
    font-size: 20px;
    /* margin-bottom: 100px; */
}
.page3 .main{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap:30px;
    margin-top: 100px;
    /* width: 100%;
    justify-content: center;
    align-items: center; */
}
.page3 .col div{
    display: flex;
    margin-bottom: 40px;
}
.page3 .col i{
    /* font-size: 40px; */
    flex-basis: 60px;
    color: #10cab7;
}
.page3 .text{
    /* display: flex;
    flex-direction: column; */
    flex:1;
    /* text-align: left;
    padding: 10px; */
}
.page3 .text h3{
    margin:0 0 20px;
    /* margin-bottom:0 0 20px; */
    /* font-size: 25px; */
}
.page3 .text p{
    color: #6d6c6c;
    line-height: 1.6;
    font-weight: 300;
    /* font-size: 18px; */
}
.page3 .col img{
    width: 260px;
    border-style: none;
}
.page3 .col .image{
    position: relative;
    text-align: center;
}
.page3 .col .image::before{
    content: "";
    background-color: #2c4755;
    position: absolute;
    height: calc(100% + 100px);
    width: 100px;
    z-index: -1;
    right:0;
    top: -50px;
}
@media (min-width: 1200px){
    .container {
        width: 1170px;
    }
}

@media (min-width: 992px){
    .container {
        width: 970px;
    }
}
@media (min-width: 768px){
    .container {
        width: 750px;
    }
}